# Copy this file to .env and fill in your values

# PostgreSQL connection
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=superuser@123
PG_DATABASE=mortuary_db

# Server
PORT=3001

# JWT signing secret
JWT_SECRET=d08c2f0195f35e41b0abe5cdccbe23686dd0baca34ae4a7ff3c15526589758ccb50cab53172837dc280f4a2c812c3590
